body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900; /* black */
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3
{
  font-weight: bold;
  font-size: 20px;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900; /* black */
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  overflow:hidden;
  positon: relative;
  text-align: left;
}

/* Sections */

.colored-section {
  background-color: #FFC4C4;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar-brand {
  font-family: 'Ubuntu';
}

.container-fluid {
  padding: 3% 15%;
  height: 620px;
}




.iphone {
  width: 30%;
  transform: rotate(25deg); /* Equal to rotateZ(45deg) */
  position: absolute;
  right: 23%;
}
/* font-color: white; */

.icon1 {
  color: #EC7272;
  height: 40px;
  margin-bottom: 1rem;
}

.icon1:hover {
  color: #ff4c68;
}

#features {
  position: relative;
  padding: 10% 10% 10% 10%;
  z-index:1;


}

/* Testimonials section */

#testimonials {
  background-color: #EC7272;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  padding-bottom: 3%;
  background-color: #EC7272;
}

.press-logo {
 width: 15%;
 margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  padding: 7% 10% 10% 10%;
}

.icon-4 {
  margin-right: 4%;
}

#footer {
  padding: 7% 10% 10% 10%;
}

.rights {
  color: grey;
}

.icon5 {
  color: #06283D;
  padding: 1% 1% 2% 1%;
}
